Flask==2.0.2
gensim
nltk==3.6.5
numpy
scipy
scikit-learn
transformers
spacy-transformers
torch
torchvision
tensorflow-macos==2.13.0
tensorflow
spacy
sentencepiece
joblib
rouge
flask-cors
Werkzeug==2.0.1